name: Deploy and Release Plugin

on:
  push:
    tags:
      - "*"

jobs:
  tag:
    name: New tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build
        run: |
          composer install --no-dev --optimize-autoloader
          composer dump-autoload --optimize --no-dev

      - name: WordPress Plugin Deploy
        id: deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        with:
          generate-zip: true
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SLUG: coreline

      - name: Upload Release Asset
        uses: actions/upload-artifact@v3
        with:
          name: plugin-zip
          path: ${{github.workspace}}/${{ github.event.repository.name }}.zip

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{github.workspace}}/${{ github.event.repository.name }}.zip
          fail_on_unmatched_files: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
